@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-text: white;
  --dark-text: #3d3d3d;
  --gradient-colors: #78aeff, #ff7bf2;
}

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--dark-text);
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
}

p {
  letter-spacing: 3px;
  font-size: 12px;
}

ul {
  font-weight: 300;
}

.relative {
  position: relative;
}

ul.no-indent {
  padding-left: 1rem;
}

main {
  position: relative;
  height: 100vh;
}

.gradient-background {
  background-blend-mode: multiply;
  background: linear-gradient(-45deg, var(--gradient-colors));
  background-size: cover;
}

.gradient-text {
  background-size: cover;
  background: linear-gradient(45deg, var(--gradient-colors));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.nav {
  position: absolute;
  bottom: 15px;

  width: 100%;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav img {
  width: 30px;
}

.nav.white img {
  filter: invert(99%) sepia(3%) saturate(414%) hue-rotate(294deg)
    brightness(118%) contrast(100%);
}

.slide-content {
  width: 100%;
  height: 100%;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

#title-slide {
  color: var(--primary-text);
}

#title-slide h1 {
  letter-spacing: 5px;
}

#artist-slide {
  display: flex;
}

.vertical-decor-sidebar {
  width: 85px;
  height: 100%;
}

.artist-slide-content {
  display: flex;
}

.artist-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 60px;
}

.artist-text-container blockquote {
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.5px;

  width: 75%;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;

  position: relative;
}

.artist-text-container .divider {
  width: 75px;
  height: 4px;
}

.artist-text-container h2 {
  letter-spacing: 5px;
}

.quotation-bigger {
  font-size: 3rem;
  position: absolute;
  top: -25px;
  left: -15px;

  background-size: cover;
  background: linear-gradient(45deg, var(--gradient-colors));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.img-container {
  height: 100%;
  overflow: hidden;
}

.img-container img {
  height: 100%;
  object-fit: cover;
}

#art-slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#art-slide iframe {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 5px 0 20px 5px rgba(0, 0, 0, 0.3);
}

.art-text-container h2 {
  letter-spacing: 3px;
}

.art-text-container .divider {
  width: 185px;
  height: 2px;
}

.art-text-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  position: relative;
}

.art-text-container .art-text-content {
  width: 75%;
  margin: 10% 0;

  display: flex;
  flex-direction: column;
  gap: 45px;
}

.text-shadow {
  position: absolute;
  top: 4px;
  left: 4px;
  opacity: 0.4;
}

#wireframe-slide {
  display: flex;
}

.wireframe-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.wireframe-text-content {
  display: flex;
  flex-direction: column;
  gap: 50px;

  width: 75%;
}

.wireframe-text-container h2 {
  letter-spacing: 5px;
  width: fit-content;
}

#reflection-slide h2 {
  text-align: center;
  margin-bottom: 30px;
}

.reflections {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.reflection {
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(-45deg, var(--gradient-colors));
}

.reflection .reflection-text {
  font-size: 15px;
  color: var(--primary-text);
  font-weight: 600;
  letter-spacing: 3px;
}

.reflection span[aria-hidden="true"] {
  display: contents;
}
.reflection span[aria-hidden="true"]:before,
.reflection span[aria-hidden="true"]:after {
  content: "";

  width: 50%;
  height: 100%;
}

.reflection span[aria-hidden="true"]:before {
  float: left;
  shape-outside: radial-gradient(farthest-side at 100%, transparent 90%, black);
}
.reflection span[aria-hidden="true"]:after {
  float: right;
  shape-outside: radial-gradient(farthest-side at 0, transparent 90%, black);
}

@media only screen and (max-width: 480px) {
  main {
    min-height: 100vh;
    height: auto;
  }
  body {
    font-size: 0.625rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.5rem;
  }

  #artist-slide .vertical-decor-sidebar {
    display: none;
  }

  .artist-slide-content {
    flex-direction: column-reverse;
  }

  .artist-intro {
    width: 75%;
  }

  #artist-slide blockquote {
    width: 75%;
    font-size: 0.6875rem;
  }
  .quotation-bigger {
    font-size: 40px;
  }

  .artist-img-container {
    margin: 50px 0;
  }

  .artist-img-container .img-container {
    width: 50vw;
    height: 50vw;

    margin-left: auto;
    margin-right: auto;

    background: linear-gradient(white, white) padding-box,
      linear-gradient(45deg, var(--gradient-colors)) border-box;
    border: 10px solid transparent;
    border-radius: 20px;
  }
  #artist-slide .img-container img {
    width: 100%;
  }

  #artist .nav {
    margin: 20px 0;
    position: static;
  }
  #artist .nav img{
    width: 20px;
  }

  #reflection .center-container {
    position: static;
    transform: none;
  }
  .reflections {
    flex-direction: column;
  }
  .reflection {
    transform: scale(0.5, 0.5);
  }
}
